@import "@assets/styles/colors";

.specialSectionHeader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  font-family: Verdana;
  height: 38px;
  position: relative;
  width: 100%;
}

.specialSectionHeader .specialSectionHeaderLabel {
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--titleBarLeftBg);
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  margin-right: 22px;
  padding: 0 10px;
  position: relative;
  .titleHead{
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    span{
      color: #fff;
      font-size: 17px;
      @media only screen and (max-width: 500px) {
        font-size: 14px;
      }
      // padding-left: 6px;
    }
  }
}

.specialSectionHeader .specialSectionHeaderPromotion {
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--titleBarRightBg);
  color: #00143c;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-pack: right;
  justify-content: right;
  padding-right: 10px;
  position: relative;
  text-align: right;
}

.specialSectionHeader .specialSectionHeaderPromotion::before {
  border-bottom: 38px solid var(--titleBarRightBg);
  border-left: 20px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 100%;
  // top: 0;
  width: 0;
  bottom: 0;
}

.specialSectionHeader .specialSectionHeaderPromotion .promotionLabel {
  font-size: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.specialSectionHeader .specialSectionHeaderLabel::after {
  border-right: 20px solid transparent;
  border-top: 38px solid var(--titleBarLeftBg);
  content: "";
  height: 0;
  left: 100%;
  position: absolute;
  top: 0;
  width: 0;
}

.labelIcon{
  padding-right: 6px;
  svg{
    fill: var(--titleBarLeftBg);
    font-size: 20px;
    background-color: var(--titleBarRightBg);
    border-radius: 50%;
    padding: 2px;
  }
  // img{
  //   height: 20px;
  //   width: 20px;
  // }
}