@import "@assets/styles/light-dark-theme";

.mainCricketWrraper {
  padding: 10px;
  @media screen and (max-width : 600px) {
    padding: 4px;
  }
  .antIconClass{
    font-size: 30px;
    color: var(--fontColor);
    padding-right: 10px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
  }
  .mainRow{
    background-color: var(--cardBg);
  .mainHeader {
    color: var(--fontColorWithBg);
    background-color: var(--titleBarBg);
    width: 100%;
  
    .detailsWrraper {
      display: flex;
      width: 100%;
      .headerImgWrraper {
        padding: 4px;
        .cricketImgWrapper{
            border-radius: 3px;
            background-color: #00b181;
            height: 48px;
            width: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
          img {
            height: 28px;
            width: 28px;
          }
        }
      }

      .timeDetailsWrraper {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .timeDetilSection {
          display: flex;
          justify-content: space-between;
          align-items: center;
            width: 100%;
            gap: 4px;
            padding: 4px;
            border: 1px solid var(--fontColor);
          .periodsWrapper{
            height: 100%;
            width: 10%;
            border-right: 1px solid var(--fontColor);
            @media screen and (max-width: 500px) {
              width: auto;
              padding-right: 4px;
            }
          }
          p{
            color: var(--fontColor);
          }
          span{
            color: var(--fontColor);
          }
          b{
            color: var(--fontColor);
          }
          .verticalLine{
            border-left: 1px solid var(--fontColor);
            height: 100%;
          }
          img {
            height: 20px;
            width: 20px;
            margin-top: 4px;
            margin-left: 4px;
          }

          p {
            margin: 0px;
            margin-top: 6px;
            margin-left: 4px;
            color: var(--fontColorWithBg);
          }
        }

        .matchLabel {
          margin-left: 6px;
          margin-top: 6px;
          color: var(--fontColorWithBg);
        }
      }

      .countriesWrraper {
        margin-top: 5px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .iconsWrapper{
          display: flex;
          align-items: center;
          gap: 4px;
          margin-top: 10px;
          svg{
            height: 22px;
            width: 22px;
            path{
              color: var(--fontColorWithBg);
                  }
          }
        }

        span {
          font-size: 24px;
          font-weight: 700;
          color: var(--fontColorWithBg);
        }

        @media screen and (max-width: 990px) {
          span {
            font-size: 14px;
          }
        }
      }
    }

    // .statusWrraper {
    //   display: flex;
    //   justify-content: flex-end;
    //   align-items: center;

    //   span {
    //     padding: 8px;
    //     color: #00b181;
    //     font-size: 25px;
    //     font-weight: 600;
    //     text-transform: uppercase;
    //     margin-right: 10px;
    //   }
    // }

    @media screen and (max-width: 990px) {
      .statusWrraper {
        justify-content: flex-start;
      }
    }

    @media screen and (max-width: 630px) {
      .statusWrraper {
        span {
          font-size: 20px;
        }
      }
    }

    .scoreSection {
      background-color: var(--cardBg);

      .mainScoresWrraper {
        background-color: var(--cardBg);
        border: var(--cardBorder);
        color: var(--fontColorWithBg);
        width: 100%;
        border: none;
        display: flex;
        // margin: 6px;
        :global(.ant-table-cell){
          padding: 0px !important;
        }
        .scoreDetail {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 700;
          text-transform: capitalize;
          .inplayIcoWrapper{
            background-color: #00b181;
            height: 20px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              width: 14px;
              height: 14px;
            }
          }

          .spanStyle {
            color: var(--fontColorWithBg);
            background-color: var(--titleBarBg);
            padding: 7px;
            white-space: nowrap;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 500px) {
              order: 1;
            }
          }

          .tooltipWrraper {
            padding: 9px;
            background-color: var(--titleBarBg);
            margin-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            span {
              svg {
                fill: var(--fontColorWithBg);
              }
            }
            .rulesHead {
              color: var(--fontColorWithBg);
              display: none;
            }
            &:hover {
              .rulesHead {
                display: block;
                cursor: pointer;
                margin-left: 6px;
              }
            }
          }
        }

        .scoreNumbersWrraper {
          padding: 4px;

          .scoreNumberHeader {
            display: flex;
            justify-content: flex-end;
            width: 90%;
            background-color: var(--sideBarSelectedTabBg);
            padding: 4px;

            span {
              color: #ffff;
            }
          }
        }

        @media screen and (max-width: 994px) {
          flex-direction: column;
          display: contents;
        }

        .countriesName {
          margin-top: 8px;

          span {
            font-size: 16px;
            font-size: 600;
          }
        }
      }
    }
  }

  .betAndBookWapper {
    // background-color: var(--titleBarBg);
    display: flex;
    align-items: center;
    // padding: 0px 16px;
    gap: 5px;
    .betLockDropDown {
      display: flex;
      width: max-content;
    }
    .betLockBtn{
      flex-direction: row-reverse;
      gap: 4px;
    }
  }

  .tabWrapper {
    width: 100%;

    .tvWrraper {
      // height: 236px;
      height: fit-content;
      iframe{
        border: 1px solid #abb0b3;
      }
      img{
        height: 50%;
        width: 100%;
      }
    }
 
    // .tableHeader {
    //   gap: 0px;
    //   padding-left: 0px;

    //   h4 {
    //     padding: 4px;
    //     font-size: 14px;
    //     font-size: 400;
    //   }
    //   span{
    //     color: var(--fontColorWithBg);
    //   }
    // }
  }

  .mainTvWrraper {
    background-color: var(--cardBg);
    width: 100%;
  }

  .tabSize {
    width: 100%;
  }

  .eventHeader{
    // background-color: var(--titleBarBg);
    // padding: 9px 16px;;
    .mainSpan {
      font-size: 17px;
      color: #ffffff;
      margin: 0;
      @media only screen and (max-width: 500px) {
        font-size: 15px;
      }
    }
    span{
      color: rgb(231, 61, 140);
      padding-left: 4px;
    }
    .userIcon{
      padding-left: 4px;
      svg{
        fill: #ffffff;
        cursor: pointer;
      }
    }
  }

}
}

:global(.ant-dropdown) {
  border: var(--cardBorder);

  .dropDownContent {
    background-color: var(--cardBg);
    border: var(--cardBorder);
    width: 152px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      cursor: pointer;

      p {
        margin: 5px 25px;
      }
    }

    .otherMarkets {
      border-top: var(--cardBorder);
    }
  }
}

@media screen and (max-width: 770px) {
  .mainTvWrraper {
    width: 70%;
  }
}

.betLockerModal {
  :global(.ant-modal-content) {
    background-color: var(--cardBg);
    color: var(--fontColor);
    // height: 298px;
    height: fit-content;

    :global(.ant-modal-title) {
      color: var(--fontColor);
      background-color: var(--cardBg);
    }
    :global(.ant-modal-body) {
      .betLockForm {
        .formContainerBetLockModal {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          margin-bottom: 10px;
        }

        .usersLoaderContainer {
          width: 100%;
          height: 180px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .btnStyle{
            color: #fff;
          }
      }


        .usersCheckBox {
          height: 150px;
          overflow: scroll;
          padding: 20px 0px; 
          overflow-x: hidden;
          .loadingRef {
            text-align: center;
            padding-top: 10px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.btnStyle{
  color: #fff;
}
.changeBackground {
  animation-name: changeBackgroundColor;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: yellow;
  }
}
.betStakesWrraper {
  display: flex;
  justify-content: space-between;
  color: var(--fontColorWithBg);
  background-color: var(--titleBarBg);

  span {
    font-size: 14px;
    font-weight: 600;
    padding: 4px 10px;
    color: var(--fontColorWithBg);
  }
}
.btnStyle{
  color: #ffff;
}
.fullBetListTitleBar {
  gap: 0px;
  // padding: 0px 16px;
  display: flex;
  gap: 10px;
  // color: var(--fontColorWithBg);
  // background-color: var(--titleBarBg);
  align-items: center;
  // h4 {
  //   font-weight: 600;
  //   font-size: 17px;
  //   color: var(--fontColorWithBg);
  //   margin: 0;
  //   @media only screen and (max-width: 500px) {
  //     font-size: 15px;
  //   }
  // }
}
.tableHeader {
  padding: 9px 16px;
  *{
    gap: 0px !important;
  }
}
.betLockIcon{
  svg{
    fill: var(--filledBtnColorNew);
  }
}