@import "@assets/styles/colors";


.betsBtnMainContainer {
    width: 100%;
    margin: auto;

    @media screen and (max-width: 350px) {
      width: 100%;
      // margin-left: 12px;
    }
    .betsBtnMain {
      background-color: var(--cardBg);
      display: flex;
      min-height: auto;
      align-items: center;
      font-size: 16px;
      border: none;
      margin-bottom: 15px;
      @media screen and (max-width: 1128px) and (min-width: 577px) {
        padding: 5px;
      }
      @media only screen and (max-width: 576px) {
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
        margin: auto;
      }
      .addBetsizeLoginBtn {
        font-size: 10px;

        @media only screen and (max-width: 576px) {
          overflow-wrap: anywhere;
          margin-bottom: 15px;
        }
      }

      .userName {
        color: var(--fontColor);
        text-align: right;
        margin-right: 20px;

        @media only screen and (max-width: 425px) {
          flex-wrap: wrap;
          overflow-wrap: anywhere;
          font-size: 14px;
        }
      }
    }
  }
.btnStyle{
  color: #ffff;
}
.currentPositionTableWrapper{
  padding: 5px;
background-color: var(--cardBg);
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
    border: 1px solid  #abb0b3;
    margin-top: 10px !important;
    border-collapse: collapse;
    text-align: center;
  }
}