@import "@assets/styles/light-dark-theme";
.mainWrapper{
  padding: 10px;
  @media screen and (max-width: 600px) {
    padding: 4px;
  }
  .antIconClass{
    font-size: 30px;
    color: var(--fontColor);
    padding-right: 10px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
  }
    .gamesWrapper {
      margin-bottom: 4px;
        .mainRow{
            display: flex;
            flex-flow: unset !important;
            overflow: auto;
            &::-webkit-scrollbar{
                height: 6px;
              }
              &::-webkit-scrollbar-thumb{
                background-color: var(--titleBarRightBg) ;
              }
              &::-webkit-scrollbar-track {
                background-color: var(--headerBg);
              }
              .eventsTabs{
                width: 20%;
                cursor: pointer;
                @media screen and (max-width:1040px) {
                  width: 200px;
                }
              }
              .eventsTabsActive{
                width: 20%;
                cursor: pointer;
                @media screen and (max-width:1040px) {
                  width: 200px;
                }
                .titleHead{
                  font-size: 18px;
                  color: var(--titleBarRightBg);
                  font-weight: bold;
                  white-space: nowrap;
                }
              }
        
        }
      }
      .btnDesigns{

            color: #fff;
        
      }
} 